In [ ]:
l=[1,2,3,4,4,5,7]
# use user defined function find the list of elements print even values write a program implent try exception block statemnt

In [ ]:
#swap two variables
a=2
b=3

In [ ]:
#method : using third varibale

In [ ]:
c=a
a=b
b=c

In [ ]:
print("a", a)
print("b", b)

In [ ]:
#method is without third variable
a, b

In [ ]:
a,b=b,a

In [ ]:
print("a=",a)
print("b=",b)

In [ ]:
l=[1,7,8,4,6,5,7]

In [ ]:
sorted(l)

In [ ]:
l.sort()

In [ ]:
l

In [ ]:
l

expetced output is l =[1,4,5,6,7,7,8]

In [ ]:
#Method: 1

In [ ]:
for i in range(len(l)):
    i=min(l)# 1
    ls.append(i)
    l.remove(i)
print(ls)
print(l)

In [ ]:
#remove duplicate in list
lst1=[1,7,8,4,6,5,7]

In [ ]:
lst1

In [ ]:
#use user defined function

In [ ]:
set(lst1)

In [ ]:
def remove_duplicate(l):
    lst=[]
    for i in l:
        if i not in lst:
            lst.append(i)
    print(lst)
l=[1,7,8,4,6,5,7]
remove_duplicate(l)
d=[12,3,3,32,4,45]
remove_duplicate(d)

In [ ]:
def duplicates(L):
    ls = []
    for i in L:
        if L.count(i) > 1:
            L.remove(i)
    ls = L[:]
    return ls

L = [1,7,8,4,6,5,7]
outp = duplicates(L)
print(outp)

In [ ]:
l=[1,7,8,4,6,5,7]
lst=[]
for i in l:
    if i not in lst:
        lst.append(i)
print(lst)